<template>
  <b-card class="cart-wrapper" no-body>
    <b-card-header class="cart-header">
      <span>Корзина</span>
      <div class="clear-btn" @click="clearCart">
        <b-icon-trash></b-icon-trash>
      </div>
    </b-card-header>
    <b-card-body class="cart-items-wrapper">
      <b-list-group class="cart-items">
        <cart-item-component
          v-for="item in goods"
          :key="item.id"
          :item-data="item"
        ></cart-item-component>
      </b-list-group>
    </b-card-body>
    <b-card-footer class="order-btn-wrapper">
      <b-button variant="primary" class="order-btn">
        <span>Заказать</span>
        <span>{{ orderSum.toFixed(2) }}</span>
      </b-button>
    </b-card-footer>
  </b-card>
</template>

<script>
import { BIconTrash } from 'bootstrap-vue'
import CartItemComponent from './CartItemComponent'

export default {
  name: 'CartComponent',
  components: { CartItemComponent, BIconTrash },

  computed: {
    goods() {
      return this.$store.getters['cart/getGoods']
    },

    orderSum() {
      return (
        this.currentER *
        this.goods.reduce((accum, el) => {
          return accum + el.price * el.quantity
        }, 0)
      )
    },

    currentER() {
      return this.$store.state.courses.dollar
    },
  },

  methods: {
    clearCart() {
      this.$store.commit('cart/clearCart')
    },
  },
}
</script>

<style scoped>
.cart-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  max-height: 100%;
}

.cart-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.clear-btn {
  cursor: pointer;
}

.cart-items-wrapper {
  padding: 0;
  height: 70vh;
}

.cart-items {
  height: 100%;
  overflow-y: auto;
}

.order-btn-wrapper {
  padding: 0;
  border: none;
}

.order-btn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
</style>
