<template>
  <b-list-group-item class="cart-item">
    <div class="top">
      <div class="name">
        {{ itemData.name }}
      </div>
      <div class="price">{{ (itemData.price * currentER).toFixed(2) }} руб</div>
    </div>
    <div class="bottom mt-1">
      <div class="count">
        <b-button variant="light" @click="reduceQuantity">-</b-button>
        <input
          ref="quantity"
          class="quantity-input"
          :value="itemData.quantity"
          type="number"
          @keydown="responsiveInput"
          @input="onQuantityInput"
        />
        <b-button variant="light" @click="increaseQuantity">+</b-button>
      </div>
      <div class="remove-btn" @click="removeFromCart">
        <b-icon-trash></b-icon-trash>
      </div>
    </div>
  </b-list-group-item>
</template>

<script>
import { BIconTrash } from 'bootstrap-vue'

export default {
  name: 'CartItemComponent',
  components: { BIconTrash },
  props: {
    itemData: {
      type: Object,
      default: () => {},
    },
  },

  data() {
    return {
      quantity: this.itemData.quantity,
    }
  },

  computed: {
    currentItemIndex() {
      return this.$store.getters['cart/getGoods'].indexOf(this.itemData)
    },

    currentER() {
      return this.$store.state.courses.dollar
    },
  },

  mounted() {
    this.responsiveInput()
  },

  /*
   * Изначально было сделано через вотчер, но я отказался от этого,
   * т.к. тогда пришлось бы меня quantity при нажатии на кнопки и каждый раз
   * бы срабатывала мутация setQuantity. Если не менять при нажатии на кнопки, то возможен
   * следующий кейс: вводится число, превышающее доступное количество товара, quantity устанавливается на максимум,
   * далее человек уменьшает количество товара кнопками, quantity не меняется, далее человек снова вводит число,
   * превышающее доступное количество товара(не знаю зачем, но вдруг), quantity все так же остается максимумом, вотчер не срабатывает,
   * мутация не применяется. Возможно, это избыточно.
   */
  // watch: {
  //   quantity() {
  //     this.setQuantity();
  //   }
  // },

  methods: {
    setQuantity() {
      if (this.currentItemIndex === -1 || this.quantity > this.itemData.count) {
        return 'Count or exist error'
      }

      this.$store.commit('cart/setQuantity', {
        index: this.currentItemIndex,
        value: this.quantity,
      })
    },
    increaseQuantity() {
      if (
        this.currentItemIndex === -1 ||
        this.itemData.quantity === this.itemData.count
      ) {
        return 'Count or exist error'
      }

      this.$store.commit('cart/increaseQuantity', this.currentItemIndex)
    },

    reduceQuantity() {
      if (this.currentItemIndex === -1) {
        return 'Exist error'
      }

      const mutation =
        this.itemData.quantity === 1
          ? 'cart/removeFromCart'
          : 'cart/reduceQuantity'

      this.$store.commit(mutation, this.currentItemIndex)
    },

    removeFromCart() {
      if (this.currentItemIndex === -1) {
        return 'Exist error'
      }

      this.$store.commit('cart/removeFromCart', this.currentItemIndex)
    },

    onQuantityInput(e) {
      if (e.target.value <= 0) {
        this.quantity = 1;
        e.target.value = 1;

        this.setQuantity();
        this.responsiveInput();

        return 'Value error'
      }

      clearTimeout(this.lastTimeout)

      const that = this

      this.lastTimeout = setTimeout(() => {
        that.quantity =
          e.target.value > that.itemData.count
            ? that.itemData.count
            : e.target.value
        e.target.value = that.quantity
        that.setQuantity()
        that.responsiveInput()
      }, 1000)
    },

    responsiveInput() {
      this.$refs.quantity.style.width =
        (this.$refs.quantity.value.length + 3) * 8 + 'px'
    },
  },
}
</script>

<style scoped>
.cart-item {
  border: none;
}

.top,
.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price {
  font-weight: bold;
  white-space: nowrap;
}

.quantity-input {
  border: none;
  text-align: center;
}

.remove-btn {
  cursor: pointer;
}
</style>
