<template>
  <b-card v-show="category.items.length" no-body class="category">
    <b-card-header>
      {{ category.name }}
      <i class="side-nav-arrow mdi mdi-chevron-right"></i>
    </b-card-header>
    <b-card-body class='items-list-wrapper'>
      <b-list-group class="items-list">
        <b-list-group-item
          v-for="item in category.items"
          :key="item.id"
          class="item"
          href="#"
          @click="addItemToCart(item)"
        >
          {{ item.name }} ({{ item.count }})
          <div class="item-price">
            {{ (item.price * currentER).toFixed(2) }} руб.
            <b-icon-arrow-up
              v-show="course === true"
              class="arrow-green"
            ></b-icon-arrow-up>
            <b-icon-arrow-down
              v-show="course === false"
              class="arrow-red"
            ></b-icon-arrow-down>
          </div>
        </b-list-group-item>
      </b-list-group>
    </b-card-body>
  </b-card>
</template>

<script>
import { BIconArrowUp, BIconArrowDown } from 'bootstrap-vue'

export default {
  name: 'CategoryComponent',
  components: { BIconArrowUp, BIconArrowDown },
  props: {
    category: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      course: null,
    }
  },

  computed: {
    itemPrice(item) {
      return item.price * this.currentER
    },

    currentER() {
      return this.$store.state.courses.dollar
    },
  },

  watch: {
    currentER(newValue, oldValue) {
      this.course = newValue > oldValue
    },
  },

  methods: {
    addItemToCart(item) {
      if (this.$store.getters['cart/getGoods'].includes(item)) {
        return 'Item already exists';
      }

      this.$store.commit('cart/addToCart', item)
    },
  },
}
</script>

<style scoped>
.category {
  margin-bottom: 1rem;
}

.items-list-wrapper {
  padding: 0;
  border: none;
}

.item {
  border: none;
  border-bottom: 1px solid #ccc;
}

.item:last-child {
  border-bottom: none;
}

.item-price {
  float: right;
}

.arrow-green {
  fill: green;
}

.arrow-red {
  fill: red;
}
</style>
