<template>
  <div class="container mt-3">
    <div class="goods-list">
      <CategoryComponent
        v-for="item in parsedCategories"
        :key="item.id"
        :category="item"
      ></CategoryComponent>
    </div>
    <div v-show="$store.getters['cart/getGoods'].length" class="cart">
      <CartComponent></CartComponent>
    </div>
  </div>
</template>

<script>
import jsonGoods from '../data/data.json'
import jsonNames from '../data/names.json'

import CategoryComponent from '../components/Category/CategoryComponent'
import CartComponent from '../components/Cart/CartComponent'

export default {
  name: 'IndexPage',
  components: { CartComponent, CategoryComponent },
  data() {
    return {
      goods: null,
      names: null,
    }
  },

  computed: {
    parsedGoods() {
      const parsed = []

      this.goods.Value.Goods.forEach((el) => {
        const tmp = {
          id: el.T,
          name: this.names[el.G].B[el.T].N,
          price: el.C,
          count: el.P,
          groupId: el.G,
        }

        parsed.push(tmp)
      })

      return parsed
    },

    parsedCategories() {
      const parsed = []

      if (!this.goods) {
        return []
      }

      Object.entries(this.names).forEach((entry) => {
        const [key, value] = entry
        const tmp = {
          id: key,
          name: value.G,
          items: this.getItemsByCategoryID(key),
        }

        parsed.push(tmp)
      })

      return parsed
    },
  },

  mounted() {
    this.goods = jsonGoods
    this.names = jsonNames
  },

  methods: {
    getItemsByCategoryID(id) {
      return this.parsedGoods.filter(
        (el) => parseInt(el.groupId) === parseInt(id)
      )
    },
  },
}
</script>

<style>
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.cart {
  position: absolute;
  top: 0;
  right: 0;
  width: 25rem;
  height: 100%;
}
</style>
